.social {
    display: inline;

    &__link {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid orange;

        &:hover {
            color: orange;
        }
    }
}
